body {
  background: url("../assets/images/1.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#insult {
  text-transform: capitalize;
}
